
<div class="component">

     <div>

        <section class="about-three">
          <div class="container">
            <div class="row">
              <div class="col-xl-6">
                <div class="about-three__img">
                  <div class="shape1 float-bob-x"><img src="https://logistiq.vercel.app/assets/images/shapes/about-v2-shape2.png" alt=""></div>
                  <div class="about-three__img-box">
                    <ul>
                      <li>
                        <div class="img-box reveal"><img src="assets/img/Trevi Fountain Italy.jpg" alt=""></div>
                      </li>
                      <li>
                        <div class="about-three__experience-box">
                          <div class="count-text-box count-box">
                            <div class="count-number">
                              <h3>25</h3><span class="plus">+</span>
                            </div>
                            <h4>Événements</h4>
                          </div>
                        </div>
                        <div class="img-box reveal"><img src="assets/img/Colosseum Italy.jpg" alt=""></div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="about-three__content">
                  <div class="sec-title tg-heading-subheading animation-style2">
                    <div class="sec-title__tagline">
                      <div class="line"></div>
                      <div class="text tg-element-title">
                        <h4>Who we are</h4>
                      </div>
                    </div>
                    <h2 class="sec-title__title tg-element-title">À propos de <span>Chrono Explorer</span></h2>
                  </div>
                  <div class="about-three__content-text">
                    <p><strong>Chrono Explorer</strong> est une application web interactive dédiée à la découverte d’événements historiques à travers une <strong>ligne du temps dynamique et visuelle</strong>. Conçue pour rendre l’histoire accessible, immersive et engageante, elle offre aux utilisateurs la possibilité d’explorer différentes périodes, thématiques, civilisations ou lieux en un seul clic.sum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
                  </div>
                  <div class="about-three__content-list">
                    <ul>
                      <li>
                        <div class="content-box">
                          <h2>Angular</h2>
                          <p>Grâce à son interface moderne développée avec <strong>Angular</strong> côté frontend et <strong>Node.js / Express + MySQL</strong> côté backend, Chrono Explorer intègre des fonctionnalités riches .
                          </p>
                        </div>
                      </li>
                      <li>
                        <div class="content-box">
                          <h2>Fonctionnalités</h2>
                          <ul>
                            <p>
                                Un affichage chronologique des événements avec image, date, lieu, description.<br>
                            Une recherche avancée par mot-clé, lieu, catégorie ou année.<br>
                            Un système d’authentification et de gestion de profil utilisateur.<br>
                            Un espace de commentaires pour chaque événement.<br>
                            </p>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <!-- <div class="about-three__content-btn"><a class="thm-btn" href="#">More About Us<i class="icon-right-arrow21"></i><span class="hover-btn hover-bx"></span><span class="hover-btn hover-bx2"></span><span class="hover-btn hover-bx3"></span><span class="hover-btn hover-bx4"></span></a></div> -->
                </div>
              </div>
            </div>
          </div>
        </section>
    </div>
<!-- Header -->
    <div>

    </div>
</div>