.container
{
    h1,h2
    {  
          text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.6);
    }

    h1
    {
        text-transform: uppercase;
        font-weight: 600;
    }

    h2
    {
        font-size :large ;
        color: white;
        font-weight: 400;
    }


}
