<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/Florence-Italy.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h1 class="presentation-title">CHRONO EXPLORER</h1>
                </div>

                <h2 class="presentation-subtitle text-center">Voyagez à travers le temps avec Chrono Explorer</h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div> 
    
        </div>
        
    <div class="main">
      <div class="section">
          <div class="container">
              <div class="row">
                     <card-component></card-component>
              </div> 
          </div>
      </div>

       
    </div>
</div>
