<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['/home']">Chrono Explorer</a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">

            <ul class="navbar-nav ml-auto">


                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Evenements" data-placement="bottom" [routerLink]="['/evenements']">
                        <p class="text-white fs-5 mb-0">Événements</p>
                    </a>
                </li>


                <li class="nav-item">
                    <a class="nav-link"  rel="tooltip" title="Archives" data-placement="bottom" [routerLink]="['/home']">
                        <p class="text-white fs-5 mb-0">Archives</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="A propos" data-placement="bottom" [routerLink]="['/home']">
                        <p class="text-white fs-5 mb-0">À propos</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" target="_blank" rel="tooltip" title="Contact" data-placement="bottom" [routerLink]="['/home']">
                        <p class="text-white fs-5 mb-0">Contact</p>
                    </a>
                </li>


                <li class="nav-item" *ngIf="isLoggedIn(); else loginBtn">
                    <a [routerLink]="['/user-profile']" class="btn btn-success btn-round">Profil</a>
                  </li>
                  <ng-template #loginBtn>
                    <li class="nav-item">
                      <a [routerLink]="['/login']" class="btn btn-danger btn-round">Se Connecter</a>
                    </li>
                  </ng-template>
                
            </ul>
        </div>
    </div>
</nav>
