<div class="game-section" >
  <!-- Title -->
  <div class="line-title">
    <h2>
      les événements historiques
    </h2>
  </div>  

     <!-- ─── search bar ─────────────────────────────────────────── -->
      <div class="search-bar">
        <search></search>
      </div>
      
      <!-- ─── Filter bar ─────────────────────────────────────────── -->
    <div class="category-chips">
      <span
        class="chip"
        [class.selected]="filters.category === ''"
        (click)="filters.category=''; applyFilters()">Toutes</span>
    
      <span
        *ngFor="let cat of categories"
        class="chip"
        [class.selected]="filters.category === cat"
        (click)="filters.category = cat; applyFilters()">
        {{ cat }}
      </span>
    </div>
    
  <section class="owl-stage">
    <div *ngIf="events.length === 0">
      <p>Aucun Événements.</p>
    </div>
    <article *ngFor="let event of visibleEvents" class="item" (click)="onClickedEvent(event.id)">
      
      <div class="item-img">
        <img *ngIf="event.image_path" [src]="'assets/img/' + event.image_path" alt="{{ event.title }}" />
      </div>

      <a [routerLink]="['/events', event.id]" class="card_link"></a>

      <div class="item-desc">
        <span class="card__category">{{ event.category }}</span>
        <h3 class="card__title">{{ event.title }}</h3>
        <h2 class="card__title">{{ event.location }}</h2>
      </div>
    </article>
  </section>

  <div class="nav-buttons" *ngIf="shouldShowNavigation()">
    <button (click)="prevSlide()">←</button>
    <button (click)="nextSlide()">→</button>
  </div>
</div>


