<div class="wrapper">
    <div class="page-header page-header-xs" 
    data-parallax="true" 
    [ngStyle]="{
        'background-image': 'url(assets/img/' + (user?.cover_picture || 'fallback-cover.jpg') + ')'
      }">    <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img [src]="'assets/img/' + (user.image || 'default-avatar.jpg')"
                    alt="Profile Image"
                    class="img-circle img-no-padding img-responsive">
                </div>
                <div clas="user-info">
                <div class="name">
                    <h4 class="title">Username : <br /><strong>{{user.name}}</strong> <br /></h4>
                </div>
                <div class="email">
                    <h4 class="title">Email : <br /><strong>{{user.email}}</strong> <br /></h4>
                </div>
            </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <br />
                    <button class="btn btn-outline-default btn-round" (click)="onSettings()">
                        Settings</button>
                    <button class="btn btn-outline-danger btn-round" (click)="onLogout()">
                        Logout
                    </button>
                </div>
            </div>
            <br/>

        </div>
    </div>
</div>
