
<div class="wrapper">
    <!-- Title -->
    <div class="content-center">
        <div class="container">
            <div class="title">
            <p>événements historiques</p>
            </div>
        </div>
    </div>
    <!-- Main Content -->
    <div class="main">
        <section class="cards" >
            
        <article class="card card--1">
            <div class="card__img"></div>
            <a href="#" class="card_link">
               <div class="card__img--hover"></div>
             </a>
            <div class="card__info">
              <span class="card__category">L’Antiquité</span>
              <h3 class="card__title">Découvrez les grandes batailles et événements de la Rome antique</h3>
            </div>
          </article>
            
            
          <article class="card card--2">
            <div class="card__img"></div>
            <a href="#" class="card_link">
               <div class="card__img--hover"></div>
             </a>
            <div class="card__info">
              <span class="card__category">Moyen Âge</span>
              <h3 class="card__title">Les croisades et les chevaliers</h3>
            </div>
          </article>  

          <article class="card card--3">
            <div class="card__img"></div>
            <a href="#" class="card_link">
               <div class="card__img--hover"></div>
             </a>
            <div class="card__info">
              <span class="card__category">Renaissance & Temps Modernes</span>
              <h3 class="card__title">Les révolutions sociales, politiques et scientifiques</h3>
            </div>
          </article>  

          <article class="card card--4">
            <div class="card__img"></div>
            <a href="#" class="card_link">
               <div class="card__img--hover"></div>
             </a>
            <div class="card__info">
              <span class="card__category">Époque contemporaine</span>
              <h3 class="card__title">Révolutions, guerres mondiales et avancées technologiques</h3>
            </div>
          </article>  
            
            </section>

    </div>


</div>