<div class="container">
<div class="form-structor">
    <!-- <h2 class="title">Modifier votre informations</h2> -->
    <div class="signup">
      <h2 class="form-title" id="signup">Modifier vos infos</h2>
      <div class="form-holder">
        <form (ngSubmit)="onSubmit()" >  
          <div class="form-holder">
      <div class="form-group">
        <label>Nom</label>
        <input type="text" class="form-control" [(ngModel)]="user.name" name="name" required>
      </div>
  
      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" [(ngModel)]="user.email" name="email" required>
      </div>
  
      <div class="form-group">
        <label>Mot de passe</label>
        <input type="text" class="form-control"  [(ngModel)]="password" name="password" autocomplete="new-password" required>
      </div>
    </div>
  
      <div class="bottom-btn">
        <button class="submit-btn" type="submit">Modifier</button>
      </div>

      <div class="login slide-up">
      <div class="center">
        <button class="submit-btn" [routerLink]="['/user-profile']">Retourner</button>
      </div>
      </div>

    </form>
  </div>
</div>